<li>
	<ul class="list-item">			<%# will_paginate requires the varaible name to match collection name. user and users %>
		<li><%= gravatar_for user, size: 50 %></li>		
		<li><%= link_to user.username, user %></li>
		<% if current_user.admin? %>
			<li><%= user.id %></li>
			<li><%= user.email %></li>
		<% end %>
		<% if current_user?(user) || current_user.admin? %>
			<li><%= link_to 'edit', edit_user_path(user) %></li>
		<% end %>
		<% if current_user.admin? && !current_user?(user) %>
			<%# instead of destroy, voluntary self deactivate. activatable in the future. don't hide posts. username becomes anonymous or 'nuked' %>
			<%# instead of destroy, ban %>
			<li><%= link_to 'destroy', user_path(user),
															 method: :delete, 
															 data: { confirm: 'Are you sure?' } %></li>
		<% end %>
	</ul>
</li>