<% provide(:title, 'Edit Profile') %>
<h1>Edit Profile </h1>

<%= render 'shared/error_messages' %>

<%#= form_for @post, as: :post, url: posts_path, html: { class: "new_post", id: "new_post" } do |f| %>
<div class="form"> 
<%= form_for @user do |u| %>
	<p>
		<%= u.label :username %>:
		<%= u.text_field :username %>
	</p>
	<p>
		<%= u.label :email %>:
		<%= u.text_field :email %>
	</p>
	<p>
		<%= u.label :password %>:
		<%= u.password_field :password %>
	</p>
	<p>
		<%= u.label :password_confirmation, "Confirm Password" %>:
		<%= u.password_field :password_confirmation %>
	</p>
	<p>		
		<%= u.submit 'Confirm' %>
	</p>
<%end%>
</div>
