<% provide(:title, 'Members') %>
<h1>Members</h1>

<% @users.each do |u| %>
<li>
	<table>
		<tr>
			<td><%= gravatar_for u, size: 50 %></td>
			<td><%= u.id %></td>
			<td><%= link_to u.username, user_path(u) %></td>
			<td><%= u.email %></td>
			<td><%= u.password %></td>
			<%# change to admin only %>
			<td><%= link_to 'show', u %></td>
			<td><%= link_to 'edit', edit_user_path(u) %></td>
			<td><%= link_to 'destroy', user_path(u), 	method: :delete, 
																								data: { confirm: 'Are you sure?' } %></td>
			<%# change to admin only %>
		<tr>
	</table>
<li>
<% end %>