<%= provide(:title, 'Profile') %>

<h1>Profile</h1>
<div>
	<%= gravatar_for @user %>
	<%= @user.username %>
</div>
<div>
	<%= @user.username %>
	<br>
	<%# allow user to choose to either show or hide to other users%>
	<%= @user.email %>
	<br>
	<%= link_to 'Edit profile', edit_user_path(@user) %>
</div>