<%= provide(:title, 'Profile') %>

<h1>Profile</h1>
<div>
	<%= gravatar_for @user %>
	<%= @user.username %>
</div>
<%= link_to "Edit Profile", edit_user_path(@user) %>
<div>
	<%= @user.username %>
	<br>
	<%# allow user to choose to either show or hide to other users%>
	<%= @user.email %>
	<br>
	<%#! Show edit button if logged in user matches the user of the profile %>
	<%# if @user.remember_token == current_user.remember_token %>
		<%#= link_to 'Edit profile', edit_user_path(@user) %>
	<%# end %>
</div>