<%= provide(:title, 'Profile') %>
<h1>
	<%= gravatar_for @user %>
	<%= @user.name %>
</h1>
<div>
	<%= @user.name %>
	<br>
	<%# allow user to choose to either show or hide to other users%>
	<%= @user.email %>
	<br>
	<%= link_to 'Edit profile', edit_user_path(@user) %>
</div>