<!DOCTYPE html>
<html>
<head>
  <title>Ruby on Rails Tutorial Sample App | <%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render '/layouts/header' %>

<aside class="sidebar">
</aside>

<div class="container">
	<% flash.each do |key,value| %>
		<%= content_tag(:div, value, class: "alert alert-#{key}") %>
	<% end %>
	<%= yield %>
	<%= render '/layouts/footer' %>
	<%#= display div tag in debug if development %>
	<%= debug(params) if Rails.env.development? %>
	<%#= display div end tag %>
</div>

<aside class="sidebar">
</aside>

</body>
</html>
